body {
    text-align: center;
    background-color: #42464b;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #ec6212;
  }
  #highscore{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin:  5%;
    color: #0ef14b;
  
  }
  #your-score{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin:  5%;
    color: #FEF2BF;
  }
  #footer{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin:  5%;
    color: #FEF2BF;
    

  }
  
  .container {
    display: block;
    width: 70%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 8px solid black;
    border-radius: 18%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  .orange{
    background-color: orange;
  }
  
  .purple{
    background-color: purple;
  }
  
  
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  
  @media screen and (max-width< 768px) {
    .btn {
      width: 100px;
      height: 100px;
    }
  }
  @media screen and (max-width< 468px) {
    .btn {
      width: 50px;
      height: 50px;
    }
  }
  /* Add this CSS to style the "Start" button */
#start-button {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #ec6212;
    color: #FEF2BF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  #start-button:hover {
    background-color: #ff9233;
  }
  
  #start-button:active {
    background-color: #d65700;
  }
  